.reservation-container {
  margin: 150px auto;
  padding: 8px;
}

.cd__main {
  display: flex;
  justify-content: center;
}

.profile-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.content {
  background-color: #fff5e66c;
  padding:8px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0 auto;
}

.content__title h1 {
  font-size: 20px;
  margin-bottom: 4px;
}

.content__description p {
  margin: 2px 0;
  font-size: 15px;
}

.content__item p{
  font-size: 15px;
}

.content__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  margin-top: 8px;
  padding-top: 20px;
}

.content__item {
  text-align: center;
}

.content__button {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.delete{
  background-color: red;
  margin-left: 5px;
}


.submit-btn:hover {
  background-color: #0056b3;
}

.delete:hover{
  background-color: red;
}

@media (min-width: 600px) {
  .profile-page {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .profile-page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
